<h1>Dashboard</h1>

{# USERS: orders + invoices #}
{% if is_user %}
    <li><a href="{{ path('app_logout') }}">Logout</a></li>

    <h2>My Orders</h2>
    <a href="{{ path('app_order_index') }}">Go to Orders</a>

    <h2>My Invoices</h2>
    <a href="{{ path('app_invoice_index') }}">Go to Invoices</a>
{% endif %}

{# ADMIN / WORKER: everything + products #}
{% if is_admin %}
    <hr>

    <h2>Admin Panel</h2>
    <a href="{{ path('app_order_index') }}">Manage Orders</a><br>
    <a href="{{ path('app_invoice_index') }}">Manage Invoices</a><br>
    <a href="{{ path('app_product_index') }}">Manage Products</a>
{% endif %}
